.aside-menu {
  z-index: 1019;
  width: 250px;
  color: #29363d;
  background: #fff;
  border-left: 1px solid #c2cfd6; }
  .aside-menu .nav-tabs {
    border-color: #c2cfd6; }
    .aside-menu .nav-tabs .nav-link, .aside-menu .nav-tabs .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .dropdown-toggle {
      padding: 0.75rem 1rem;
      color: #151b1e;
      border-top: 0; }
      .aside-menu .nav-tabs .nav-link.active, .aside-menu .nav-tabs .navbar .active.dropdown-toggle, .navbar .aside-menu .nav-tabs .active.dropdown-toggle {
        color: #20a8d8;
        border-right-color: #c2cfd6;
        border-left-color: #c2cfd6; }
    .aside-menu .nav-tabs .nav-item:first-child .nav-link, .aside-menu .nav-tabs .nav-item:first-child .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .nav-item:first-child .dropdown-toggle {
      border-left: 0; }
  .aside-menu .tab-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    border-top: 1px solid #c2cfd6;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .aside-menu .tab-content::-webkit-scrollbar {
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .aside-menu .tab-content::-webkit-scrollbar-track {
      background-color: white;
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2; }
    .aside-menu .tab-content::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #e6e6e6;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
    .aside-menu .tab-content .tab-pane {
      padding: 0; }
.etiqueta{
  clear: left;
  height: 30px;
  width: 80%;
  margin-right: 10px;
  padding: 5px;
  float: left;
  border-width: 1px;
  border-color: #7f7f7f;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  text-shadow: 2px 2px 7px #333333;
  color: #ffffff;
}
