@main("Acerca de"){
<h1>Acerca de</h1>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Garcia Urdiales</td>
            <td>Sergio Julio</td>
            <td>"sjgu1@@alu.ua.es"</td>
          </tr>
          <tr>
            <td>Zarrouk Bermudez</td>
            <td>Adel</td>
            <td>"azb@@alu.ua.es"</td>
          </tr>
          <tr>
            <td>Vega Guardado</td>
            <td>Roberto André</td>
            <td>"ravg1@@alu.ua.es"</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>Versión del software</h3>
  <p>1.2-SNAPSHOT</p>
  <p><b>Fecha de publicación: </b>21/11/2017</p>
}
