@(tablero: Tablero, usuarioSesion: Long, tareas: List[Tarea],usuario: Usuario, mensaje: String)

@main("Detalle de tablero"){
  <h1>Detalle del tablero</h1>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Administrador</th>
        <th>Participantes</th>
      </tr>
      <tr>
        <td>@tablero.getNombre()</td>
        <td>@tablero.getAdministrador().getLogin()</td>
        <td>
          @if(tablero.getParticipantes().isEmpty()){
              <td class="text-muted">Este tablero todavía no tiene participantes</td>
          } else{
            <ul>
            @for(participante <- tablero.getParticipantes()) {
              <li>@participante.getLogin()</li>
            }
          </ul>
        }
        </td>
      </tr>
    </table>
  </div>
  <h3>Tareas del tablero</h3>
  <table class="table table-striped">
    <tr>
        <th>Título</th>
        <th>Fecha Límite</th>
        <th>Acción</th>
    </tr>
    @for(tarea <- tareas) {
      @if(tarea.tareaCaducada()){
        <tr class="danger">
      } else {
        <tr>
        }
            <td>@tarea.getTitulo()</td>
            @if(tarea.getFechaLimite().format("dd-MM-yyyy").toString().equals("01-01-1900")){
              <td>Sin fecha límite</td>
            } else {
              <td>@tarea.getFechaLimite().format("dd-MM-yyyy").toString()</td>
            }
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId(),tablero.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
    </tr>
  </table>
}
