@(tablero: Tablero, usuarioSesion: Long, tareas: List[Tarea],usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
        function ter(urlTer) {
            $.ajax({
                url: urlTer,
                type: 'PUT',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Detalle de tablero",scripts){
  <div class="main-content">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10">
        <h1>Tablero @tablero.getNombre()</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>Administrador</th>
            <th>Participantes</th>
          </tr>
          <tr>
            <td>@tablero.getNombre()</td>
            <td>@tablero.getAdministrador().getLogin()</td>
            <td>
              @if(tablero.getParticipantes().isEmpty()){
                  <td class="text-muted">Este tablero todavía no tiene participantes</td>
              } else{
                <ul>
                @for(participante <- tablero.getParticipantes()) {
                  <li>@participante.getLogin()</li>
                }
              </ul>
            }
            </td>
          </tr>
        </table>
      </div>
      <h3>Tareas del tablero</h3>
      <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Fecha Límite</th>
            <th>Acción</th>
        </tr>
        @for(tarea <- tareas) {
          @if(tarea.tareaCaducada()){
            <tr class="danger">
          } else {
            <tr>
            }
                <td>@tarea.getTitulo()</td>
                @if(tarea.getFechaLimite().format("dd-MM-yyyy").toString().equals("01-01-1900")){
                  <td>Sin fecha límite</td>
                } else {
                  <td>@tarea.getFechaLimite().format("dd-MM-yyyy").toString()</td>
                }
                <td><a href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId(),tablero.getId())">
                  <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
                  <a onmouseover="" style="cursor: pointer;"
                  onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp;
                  <a onmouseover="" style="cursor: pointer;"
                  onclick="ter('@routes.GestionTareasController.terminarTarea(tarea.getId())')">
                  <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></td>
            </tr>
          }

          <tr>
              <td><a href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId(),tablero.getId())">
                  <span class="glyphicon glyphicon-plus"/></a></td>
        </tr>
      </table>

      @if(mensaje != null) {
          <div class="alert alert-success">
              @mensaje
          </div>
      }
    </div>
    <div class="col-md-2">
      <aside class="aside-menu">
        <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
            <small><b><span class="glyphicon glyphicon-cog">Opciones</b></small>
        </div>
        <!-- Tab panes -->
        <button type="button" class="btn" data-toggle="collapse" data-target="#etiquetas"><span class="glyphicon glyphicon-tag">Etiquetas</button>
        <div id="etiquetas" class="collapse in">
            <hr class="transparent mx-3 my-0">
            <table class="table">
              @if(tablero.getEtiquetas().isEmpty()){
                <td class="text-muted">Sin etiquetas</td>
              } else{
                @for(etiqueta <- tablero.getEtiquetas()) {
                  <tr>
                    <td><p class="etiqueta" style="background-color:@etiqueta.getColor()"><b>@if(etiqueta.getNombre().equals("")){Sin nombre}else{@etiqueta.getNombre()}</b></p>
                        <a href="@routes.GestionEtiquetasController.formularioEditaEtiqueta(etiqueta.getId(),tablero.getId())">
                        <span class="glyphicon glyphicon-pencil"/></a>
                    </td>
                  </tr>
                }
              }
                <tr>
                  <td><a class="btn btn-primary"
                         href="@routes.GestionEtiquetasController.formularioNuevaEtiqueta(usuario.getId(),tablero.getId())">
                         Nueva etiqueta</a></td>
                </tr>
              </table>
          </div>
          <br/>
          <button type="button" class="btn" data-toggle="collapse" data-target="#filtrado"><span class="glyphicon glyphicon-filter">Filtrado</button>
          <div id="filtrado" class="collapse">
              <hr class="transparent mx-3 my-0">
          </div>

        </div>
      </aside>
    </div>
  </div>
</div>
}
