@(tablero: Tablero, usuarioSesion: Long, tareas: List[Tarea],usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
        function ter(urlTer) {
            $.ajax({
                url: urlTer,
                type: 'PUT',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Detalle de tablero",scripts){
  <h1>Detalle del tablero @tablero.getNombre()</h1>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Administrador</th>
        <th>Participantes</th>
      </tr>
      <tr>
        <td>@tablero.getNombre()</td>
        <td>@tablero.getAdministrador().getLogin()</td>
        <td>
          @if(tablero.getParticipantes().isEmpty()){
              <td class="text-muted">Este tablero todavía no tiene participantes</td>
          } else{
            <ul>
            @for(participante <- tablero.getParticipantes()) {
              <li>@participante.getLogin()</li>
            }
          </ul>
        }
        </td>
      </tr>
    </table>
  </div>
  <h3>Tareas del tablero</h3>
  <table class="table table-striped">
    <tr>
        <th>Título</th>
        <th>Fecha Límite</th>
        <th>Acción</th>
    </tr>
    @for(tarea <- tareas) {
      @if(tarea.tareaCaducada()){
        <tr class="danger">
      } else {
        <tr>
        }
            <td>@tarea.getTitulo()</td>
            @if(tarea.getFechaLimite().format("dd-MM-yyyy").toString().equals("01-01-1900")){
              <td>Sin fecha límite</td>
            } else {
              <td>@tarea.getFechaLimite().format("dd-MM-yyyy").toString()</td>
            }
            <td><a href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId(),tablero.getId())">
              <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
              <a onmouseover="" style="cursor: pointer;"
              onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp;
              <a onmouseover="" style="cursor: pointer;"
              onclick="ter('@routes.GestionTareasController.terminarTarea(tarea.getId())')">
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId(),tablero.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
    </tr>
  </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
