@(usuario: Usuario,modificaUsuForm:Form[ModificaUsu],mensaje:String)
@main("Modificación usuario"){
  @if(mensaje!=""){
    <div class="alert alert-danger">
      @mensaje
    </div>
  }
  <h1>Modificar datos usuario </h1>
  @helper.form(action=routes.UsuarioController.modificaUsuario(usuario.getId())){
    <fieldset>
      @helper.inputText(modificaUsuForm("login").copy(value=Some(usuario.getLogin())),'disabled -> "true",'_label -> "Login")
      @helper.inputText(modificaUsuForm("email").copy(value=Some(usuario.getEmail())),'_label -> "Email")
      @helper.inputText(modificaUsuForm("nombre").copy(value=Some(usuario.getNombre())),'_label -> "Nombre")
      @helper.inputText(modificaUsuForm("apellidos").copy(value=Some(usuario.getApellidos())),'_label -> "Apellidos")
      @helper.inputText(modificaUsuForm("fechaNacimiento").copy(value=Some(usuario.getFechaNacimiento().format("dd-MM-yyyy").toString())),'_label -> "Fecha nacimiento")
    </fieldset>
    <p>
      <button type="submit" class="btn btn-primary">Modifica</button>
      <a class="btn btn-warning" href="@routes.UsuarioController.detalleUsuario(usuario.getId().toString())">Cancela</a>
      <a class="btn btn-info" href="@routes.UsuarioController.formularioCambioPassword(usuario.getId())">Cambia contraseña</a>
    </p>
  }
}
