@(idUsuario: Long, tarea: Tarea, mensaje: String)
@main("Modificar Tarea") {
  @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar tarea</h1>
   @helper.form(action = routes.GestionTareasController.grabaTareaModificada(tarea.getId())) {
      <fieldset>
         <legend>Tarea</legend>
         Título:  <input type="text" size=70 name="titulo" value= "@tarea.getTitulo()">
         <p/>
         Fecha límite:  <input type="text" name="fechaLimite" value= "@tarea.getFechaLimite().format("dd-MM-yyyy").toString()">

    </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(idUsuario.toString())">Cancelar</a>
      </p>
   }
}
