@(usuario: Usuario,modificaUsuForm:Form[ModificaPassWordUsuario],mensaje:String)
@main("Modificación usuario"){
  @if(mensaje!=""){
    <div class="alert alert-danger">
      @mensaje
    </div>
  }
  <h1>Modificar contraseña usuario </h1>
  @helper.form(action=routes.UsuarioController.modificaPassword(usuario.getId())){
    <fieldset>
      @helper.inputPassword(modificaUsuForm("passold"),'_label -> "Contraseña actual")
      @helper.inputPassword(modificaUsuForm("passnew"),'_label -> "Nueva contraseña")
      @helper.inputPassword(modificaUsuForm("confirmacion"),'_label -> "Repita nueva contraseña")
    </fieldset>
    <p>
      <button type="submit" class="btn btn-primary">Modifica</button>
      <a class="btn btn-danger" href="@routes.UsuarioController.detalleUsuario(usuario.getId())">Deshacer</a>
    </p>
  }
}
