@(usuario: Usuario, tareaForm: Form[Tareas], tablero:Long, mensaje: String)
@main("Nueva tarea") {
  @if(mensaje != "") {
    <div class="alert alert-danger">
      @mensaje
    </div>
  }
  <script>
  $( function() {
    $( "#fechaLimite" ).datepicker({
      dateFormat: "dd-mm-yy",
      minDate: "today"
    });
  } );
  </script>
  <h1>Nueva tarea para @usuario.getLogin()</h1>
  @helper.form(action = routes.GestionTareasController.creaNuevaTarea(usuario.getId(),tablero)) {
    <fieldset>
      <legend>Nueva tarea</legend>
      <form name="tareaForm">
      @helper.inputText(tareaForm("titulo"), '_label -> "Titulo", 'size -> 70)
      Descripción:</br>
      <textarea type="text" cols="70" rows="5" name="descripcion" _label="descripcion"></textarea>
      <p>Fecha límite:</br>
      <input type="text" id="fechaLimite" name="fechaLimite" _label="fechaLimite"></p>
    </fieldset>
    <p>
      <input type="submit" class="btn btn-primary" value="Guardar">
    </p>
    }
}
