@(idUsuario: Long, tarea: Tarea, idTablero:Long, mensaje: String)
@main("Modificar Tarea") {
  @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <script>
   $( function() {
     $( "#fechaLimite" ).datepicker({
       dateFormat: "dd-mm-yy",
       minDate: "today"
     });
   } );
   </script>
   <h1>Modificar tarea</h1>
   @helper.form(action = routes.GestionTareasController.grabaTareaModificada(tarea.getId(),idTablero)) {
      <fieldset>
         <legend>Tarea</legend>
         Título:  <input type="text" size=70 name="titulo" value= "@tarea.getTitulo()">
         <p/>
         Descripción:</br>
         <textarea type="text" cols="75" rows="5" name="descripcion" >@tarea.getDescripcion()</textarea>
         <p>Fecha límite:</br>
         <input type="text" id="fechaLimite" name="fechaLimite" _label="fechaLimite"value= "@tarea.getFechaLimite().format("dd-MM-yyyy").toString()">

    </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(idUsuario.toString(),0)">Cancelar</a>
      </p>
   }
}
