@(tareas: List[Tarea], usuario: Usuario, mensaje: String)

@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }

        function ter(urlTer) {
            $.ajax({
                url: urlTer,
                type: 'PUT',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
        function confirmar(ideti) {
          var txt=ideti;
          var r = confirm("Se eliminará la tarea, ¿está seguro de ello?");
          if (r == true) {
            del(ideti)
          }
        }
    </script>
}



@main("Tareas terminadas del usuario @usuario.getLogin()",scripts) {
    <h2> Listado de tareas terminadas de @usuario.getLogin()</h2>
    </br>

    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Acción</th>
        </tr>

        @for(tarea <- tareas) {
            <tr>
                <td>@tarea.getTitulo()</td>
                <td><a onmouseover="" style="cursor: pointer;"
                onclick="confirmar('@routes.GestionTareasController.borraTarea(tarea.getId())')">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp;
                <a onmouseover="" style="cursor: pointer;"
                onclick="ter('@routes.GestionTareasController.reactivarTarea(tarea.getId())')">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></td>
            </tr>
        }
    </table>

    <p><a class="btn btn-link" href="@routes.GestionTareasController.listaTareas(usuario.getId().toString(),0)">Volver a tareas pendientes</a></p>

    @if(mensaje != null) {
      <div class="alert alert-success">
        @mensaje
      </div>
    }
}
