@(tablerosAdministra: List[Tablero],tablerosParticipa: List[Tablero],tablerosNoUsa: List[Tablero], usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function upd(urlActualizar) {
            $.ajax({
                url: urlActualizar,
                type: 'PUT',
                success: function(results) {
                  //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Tableros administrados por el usuario @usuario.getLogin()",scripts) {


  <h2> Listado de Tableros</h2>
  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tab_administrados">Tableros administrados por @usuario.getLogin()</button>
  <div id="tab_administrados" class="collapse in">
    <table class="table table-striped">
      <tr>
        <th>Tableros eres administrador <span class="glyphicon glyphicon-briefcase"/></th>
      </tr>
      @if(tablerosAdministra.isEmpty()){
          <td class="text-muted">Todavía no eres administrador de ningún tablero cree uno pulsando icono +</td>
      } else{
      @for(tablero <- tablerosAdministra) {
        <tr>
          <td><a href="@routes.GestionTablerosController.detalleTablero(tablero.getId(),usuario.getId())">@tablero.getNombre()</a></td>
        </tr>
      }
    }
      <tr>
        <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
      </tr>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tab_participa">Tableros en los que participa @usuario.getLogin()</button>
  </div>
  <div id="tab_participa" class="collapse in">
    <table class="table table-striped">
      <tr>
        <th>Tableros eres participante <span class="glyphicon glyphicon-pushpin"/></th>
      </tr>
      @if(tablerosParticipa.isEmpty()){
          <td class="text-muted">Todavía no participa en ningún tablero, únase a uno de ellos</td>
      } else{
      @for(tablero <- tablerosParticipa) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(tablero.getId(),usuario.getId())">@tablero.getNombre()</a></td>
        </tr>
          }
      }
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tab_nousa">Tableros no participa @usuario.getLogin()</button>
  </div>
  <div id="tab_nousa" class="collapse in">
    <table class="table table-striped">
      <tr>
        <th>Tableros no participas <span class="glyphicon glyphicon-ban-circle"/></th>
        <th> Acciones</th>
      </tr>
      @if(tablerosNoUsa.isEmpty()){
          <td class="text-muted">¡Enhorabuena! Usted administra o participa en todos los tableros</td>
      } else{
      @for(tablero <- tablerosNoUsa) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(tablero.getId(),usuario.getId())">@tablero.getNombre()</a></td>
          <td><a onmouseover="" style="cursor: pointer;"
          onclick="upd('@routes.GestionTablerosController.asignaParticipanteTablero(tablero.getId(),usuario.getId())')">
          <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a></td>
        </tr>
      }
    }
    </table>
  </div>

  <div id="mas_opciones">
  <a class="btn btn-primary" href="@routes.GestionTareasController.listaTareas(usuario.getId())"><span class="glyphicon glyphicon-tasks"/> Ver lista tareas</a>
  </div>
  @if(mensaje != null) {
    <div class="alert alert-success">
      @mensaje
    </div>
 }
}
